<main class="container-fluid" style="display: block;" >
  <div class="col-md-6 col-md-offset-3" style="margin-top:100px; margin-bottom: 200px;">
    <h2>인증 메일 다시보내기</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "이메일 다시 보내기" , class: "btn" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</main>