<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Posts
      <small>글</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Admin</li>
      <li class="active">Posts</li>
    </ol>
  </section>


  <!-- Main content -->
  <section class="content">

    <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>


    <% @posts.each do |post| %>
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title"><%= post.title %></h3>
            <div class="box-tools pull-right">
              <!-- Buttons, labels, and many other things can be placed here! -->
              <!-- Here is a label for example -->
              <a href="/admin/posts/<%= post.id %>" data-method="DELETE" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body">
            <p><i><%= User.find(post.user_id).name %></i></p>
            <p><%= post.content %></p>
          </div><!-- /.box-body -->
          <div class="box-footer">
            <h5>댓글</h5>
            <% post.comments.each do |comment| %>
              <div>
                <%= User.find(comment.user_id).name %>: <%= comment.body %> <a href="/admin/comments/<%= comment.id %>" data-method="DELETE" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
              </div>
            <% end %>
          </div><!-- box-footer -->
        </div><!-- /.box -->
    <% end %>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    개발 넘나 힘든것
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016 <a href="#">oneandzero</a>.</strong> All rights reserved.
</footer>
