<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Projects
      <small>프로젝트</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashproject"></i>Admin</li>
      <li class="active">Projects</li>
    </ol>
  </section>


  <!-- Main content -->
  <section class="content">

    <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>


    <% @projects.each do |project| %>
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title"><%= project.title %></h3>
            <div class="box-tools pull-right">
              <!-- Buttons, labels, and many other things can be placed here! -->
              <!-- Here is a label for example -->
              <a href="/admin/projects/<%= project.id %>" data-method="DELETE" class="btn btn-box-tool"><i class="fa fa-times"></i></a>
            </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body">
            <img src="<%= project.image_url %>">
          </div><!-- /.box-body -->
          <div class="box-footer">
            <p>설명 : <%= project.short_description %></p>
            <p>긴설명 : <%= project.long_description %></p>
          </div><!-- box-footer -->
        </div><!-- /.box -->
    <% end %>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    개발 넘나 힘든것
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016 <a href="#">oneandzero</a>.</strong> All rights reserved.
</footer>
