<main>
  <!-- ============================================================= SECTION – BLOG ============================================================= -->

  <section id="blog-post" class="light-bg">
    <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
      <div class="row">
        <div class="col-md-9 center-block">
          <div class="sidemeta">
            <% @timelines.each do |timeline| %>

                <div class="post format-gallery">

                  <div class="date-wrapper">
                    <div class="date">
                      <span class="day"><%= timeline.date.strftime("%y") %></span>
                      <span class="month"><%= timeline.date.strftime("%b") %></span>
                    </div><!-- /.date -->
                  </div><!-- /.date-wrapper -->

                  <div class="format-wrapper">
                    <a href="#"><i class="icon-picture"></i></a>
                  </div><!-- /.format-wrapper -->

                  <div class="post-content">

                    <h1 class="post-title"><%= timeline.title %></h1>

                    <ul class="meta">
                      <li class="categories"><%= timeline.date.strftime("%Y년 %m월 %d일") %></li>
                    </ul><!-- /.meta -->

                    <p><%= timeline.description %></p>


                    <figure>
                      <img src="<%= timeline.image_url %>" alt="">
                      <figcaption><%= timeline.image_caption %></figcaption>
                    </figure>

                    <h2><%= timeline.content_title %></h2>

                    <p><%= timeline.content_body %></p>

                    <figure>
                      <div class="row">
                      </div><!-- /.row -->
                    </figure>

                  </div><!-- /.post-content -->

                </div><!-- /.post -->
            <% end %>

          </div><!-- /.sidemeta -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </section>

  <!-- ============================================================= SECTION – BLOG : END ============================================================= -->

</main>