<!-- ============================================================= MAIN ============================================================= -->

<main>

  <!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->

  <section id="popular-posts" class="light-bg">
    <div class="container inner-top-md">
      <div class="row">
        <div class="col-sm-12">
          <div id="accordion" class="panel-group">
            <div class="panel panel-default">

              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
                    <span>Popular posts</span>
                  </a>
                </h4>
              </div><!-- /.panel-heading -->

              <div id="content" class="panel-collapse collapse">
                <div class="panel-body">
                  <div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">

                    <% unless @popular_posts.nil? ; @popular_posts.each do |post|; %>
                    <div class="item">
                      <a href="blog-post.html">
                        <figure>
                          <figcaption class="text-overlay">
                            <div class="info">
                              <h4><%= post.title %></h4>
                              <p><%= truncate(post.content, length: 200, omission: "...#{post.content[-5, 5]}")  %></p>
                            </div><!-- /.info -->
                          </figcaption>
                          <img src="<%= post.image_url %>" alt="">
                        </figure>
                      </a>
                    </div><!-- /.item -->
                    <% end; end %>

                  </div><!-- /.owl-carousel -->
                </div><!-- /.panel-body -->
              </div><!-- /.content -->

            </div><!-- /.panel -->
          </div><!-- /.accordion -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->


  <!-- ============================================================= SECTION – BLOG ============================================================= -->

  <section id="blog" class="light-bg">
    <div class="container inner-top-sm inner-bottom">

      <div class="row inner-bottom-xs">
        <div class="col-sm-12">
          <ul class="format-filter text-center">
            <li><a class="active" href="#" data-filter="*" title="All" data-rel="tooltip" data-placement="top"><i class="icon-th"></i></a></li>
            <li><a href="#" data-filter=".format-standard" title="Standard" data-rel="tooltip" data-placement="top"><i class="icon-edit"></i></a></li>
            <li><a href="#" data-filter=".format-image" title="Image" data-rel="tooltip" data-placement="top"><i class="icon-picture-1"></i></a></li>
            <li><a href="#" data-filter=".format-gallery" title="Gallery" data-rel="tooltip" data-placement="top"><i class="icon-picture"></i></a></li>
            <li><a href="#" data-filter=".format-video" title="Video" data-rel="tooltip" data-placement="top"><i class="icon-video-1"></i></a></li>
            <li><a href="#" data-filter=".format-audio" title="Audio" data-rel="tooltip" data-placement="top"><i class="icon-music-1"></i></a></li>
            <li><a href="#" data-filter=".format-quote" title="Quote" data-rel="tooltip" data-placement="top"><i class="icon-quote"></i></a></li>
            <li><a href="#" data-filter=".format-link" title="Link" data-rel="tooltip" data-placement="top"><i class="icon-popup"></i></a></li>
          </ul><!-- /.format-filter -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-9 col-sm-8 inner-right-sm">

          <div class="grid-blog col-2">
            <div class="posts">

              <% @posts.each do |post| %>
                  <div class="post format-<% if rand(2) == 0 %>standard<% else %>link<% end %>">

                    <div class="post-content">

                      <!--<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">-->

                        <!--<#%post.attachments.each do |attachment| %>-->
                            <!--<div class="item">-->
                              <!--<figure>-->
                                <!--<img src="<#%=attachment.image_url%>" alt="">-->
                              <!--</figure>-->
                            <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->
                        <!--<%# end %>-->

                      <!--</div>&lt;!&ndash; /.owl-carousel &ndash;&gt;-->

                      <h2 class="post-title">
                        <a href="/board/<%= @board.name %>/posts/<%= post.id %>"><%= post.title %></a>
                      </h2>

                      <ul class="meta">
                        <li class="date"><%= post.created_at.getlocal.to_formatted_s(:short) %></li>
                        <li class="categories"><a href="#">Identity</a>, <a href="#">Graphic Design</a></li>
                        <li class="comments"><a href="#"><%= post.comments.count %></a></li>
                        <!--<li class="likes"><a href="#"></a></li>-->
                        <li class="user_name"> <%post.user.name %>
                      </ul><!-- /.meta -->

                      <p><%= truncate(post.content, length: (150...300).to_a.sample, omission: "...#{post.content[-5, 5]}")  %></p>

                      <a href="/board/<%= @board.name %>/posts/<%= post.id %>" class="btn">더 읽기</a>

                    </div><!-- /.post-content -->

                  </div><!-- /.post -->

              <% end %>
            </div><!-- /.posts -->
          </div><!-- /.grid-blog -->

          <a href="/board/<%= @board.name %>/posts/new" class="btn btn-gray">글쓰기</a>
          <%= render :partial => 'layouts/pagination', :locals => {:model => @posts } %>

        </div><!-- /.col -->
        <aside class="col-md-3 col-sm-4">

          <div class="sidebox widget">
            <h4>Random Posts</h4>

            <div class="row thumbs gap-xs">

              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="blog-post.html"><img src="" alt=""></a>
                </figure>
              </div><!-- /.thumb -->

            </div><!-- /.row -->
          </div><!-- /.widget -->

          <div class="sidebox widget">
            <h4>Search Posts</h4>

            <form id="search" class="navbar-form search" role="search">
              <input type="search" class="form-control" placeholder="Type to search">
              <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
            </form>
          </div><!-- /.widget -->

          <div class="sidebox widget">
            <h4>Categories</h4>

            <ul class="circled">
              <li><a href="#">Identity (114)</a></li>
              <li><a href="#">Interactive (93)</a></li>
              <li><a href="#">Graphic Design (82)</a></li>
              <li><a href="#">Motion Graphics (77)</a></li>
              <li><a href="#">Photography (63)</a></li>
              <li><a href="#">Technology (55)</a></li>
              <li><a href="#">Business (42)</a></li>
              <li><a href="#">Print (36)</a></li>
              <li><a href="#">Audio (23)</a></li>
            </ul><!-- /.circled -->
          </div><!-- /.widget -->

          <div class="sidebox widget">
            <h4>Archives</h4>

            <ul class="circled">
              <li><a href="#">March 2015</a></li>
              <li><a href="#">February 2015</a></li>
              <li><a href="#">January 2015</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
            </ul><!-- /.circled -->

            <a href="#" class="txt-btn">All archives</a>
          </div><!-- /.widget -->

          <div class="sidebox widget">
            <h4>Featured</h4>

            <figure>

              <div class="icon-overlay icn-link">
                <a href="blog-post.html"><img src="" alt=""></a>
              </div><!-- /.icon-overlay -->

              <figcaption class="bordered no-top-border">
                <div class="info">
                  <h4><a href="blog-post.html">Appscreen Dashboard</a></h4>
                  <p>Interactive</p>
                </div><!-- /.info -->
              </figcaption>

            </figure>
          </div><!-- /.widget -->

          <div class="sidebox widget">
            <h4>Custom Text</h4>
            <p>Magnis modipsae que lib voloratati andigen daepeditem reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.</p>
            <p>Conecus iure posae volor remped modiatis aut accabora incim explabo eictemperum quiae sitiorem.</p>
            <a href="#" class="txt-btn">Check out more</a>
          </div><!-- /.widget -->

          <div class="sidebox widget">
            <h4>Tags</h4>

            <div class="tagcloud">
              <a href="#" style="font-size: 12pt;">Beautiful</a> <a href="#" style="font-size: 20pt;">REEN</a> <a href="#" style="font-size: 10pt;">Quality</a> <a href="#" style="font-size: 14pt;">Website</a> <a href="#" style="font-size: 16pt;">Template</a> <a href="#" style="font-size: 12pt;">Professional</a> <a href="#" style="font-size: 20pt;">Design</a> <a href="#" style="font-size: 10pt;">Multipurpose</a> <a href="#" style="font-size: 16pt;">Portfolio</a> <a href="#" style="font-size: 10pt;">Customization</a> <a href="#" style="font-size: 19pt;">Bootstrap</a> <a href="#" style="font-size: 9pt;">Mobile</a> <a href="#" style="font-size: 14pt;">Features</a> <a href="#" style="font-size: 9pt;">Styles</a> <a href="#" style="font-size: 13pt;">Responsive</a> <a href="#" style="font-size: 9pt;">Font Icons</a> <a href="#" style="font-size: 22pt;">Love</a> <a href="#" style="font-size: 10pt;">Digital</a> <a href="#" style="font-size: 18pt;">Awesome</a> <a href="#" style="font-size: 12pt;">Passion</a> <a href="#" style="font-size: 13pt;">Typography</a> <a href="#" style="font-size: 13pt;">Clean</a> <a href="#" style="font-size: 9pt;">Easy to use</a> <a href="#" style="font-size: 20pt;">Buy it</a> <a href="#" style="font-size: 12pt;">Success</a>
            </div><!-- /.tag-cloud -->
          </div><!-- /.widget -->

        </aside>

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – BLOG : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
