
<main>

  <!-- ============================================================= SECTION – BLOG POST ============================================================= -->

  <section id="blog-post" class="light-bg">
    <div class="container inner-top-sm inner-bottom classic-blog sidebar-left">
      <div class="row">

        <div class="col-md-9 col-md-push-3 inner-left-sm">
          <div class="sidemeta">

            <center><a href="#" class="btn btn-small btn-blue">글 수정</a> <a href="#" class="btn btn-small btn-gray">글 삭제</a> </center>
            <div class="post format-gallery">

              <div class="date-wrapper">
                <div class="date">
                  <span class="day">2016</span>
                  <span class="month">8.7</span>
                </div><!-- /.date -->
              </div><!-- /.date-wrapper -->

              <div class="format-wrapper">
                <a href="#"><i class="icon-picture"></i></a>
              </div><!-- /.format-wrapper -->

              <div class="post-content">

                <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">

                  <% @post.attachments.each do |attachment| %>

                  <div class="item">
                    <figure>
                      <img src="<%=attachment.image_url%>" alt="">
                    </figure>
                  </div><!-- /.item -->
                  <% end %>


                </div><!-- /.owl-carousel -->

                <p class="author"><a href="#" title="Post author" data-rel="tooltip" data-placement="left">작성자</a></p>

                <h1 class="post-title"><%= @post.title %></h1>

                <ul class="meta">
                  <li class="categories"><%= @board.name %></li>
                  <li class="comments"><a>24</a></li>
                  <li class="views"><a>10</a></li>
                </ul><!-- /.meta -->

                <p>
                  <%= @post.content %>

                </p>


              </div><!-- /.post-content -->


            </div><!-- /.post -->

            <div class="post-author">
              <figure>

                <div class="author-image icon-overlay icn-link">
                  <a href="#"><img src="/assets/images/art/human01.jpg" alt=""></a>
                </div>

                <figcaption class="author-details">
                  <h3>About the author</h3>
                  <p><a href="#">작성자</a></p>

                  <ul class="meta">
                    <li class="url"><a href="#">koreaoaz@korea.ac.kr</a></li>
                  </ul><!-- /.meta -->

                </figcaption>

              </figure>
            </div><!-- /.post-author -->



            <div id="comments">
              <!--<h2>5 Comments</h2>-->
              <ol class="commentlist">
                <% @post.comments.each do |comment| %>
                  <li class="comment">
                  <div class="avatar icon-overlay icn-link">
                    <a href="#"><img src="/assets/images/art/human02.jpg" alt=""></a>
                  </div><!-- /.avatar -->

                  <div class="commentbody">

                    <div class="author">
                      <h3><a href="#"><%= comment.user.name %></a></h3>
                      <div class="meta">
                        <span class="date">about 5 hours ago</span>
                      </div><!-- /.meta -->
                    </div><!-- /.author -->

                    <div class="message">
                      <p><%= comment.body %> </p>
                      <ul class="meta">
                        <li class="reply"><a href="#">Reply</a></li>
                        <li class="votes">24</li>
                        <li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
                        <li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
                      </ul><!-- /.meta -->
                    </div><!-- /.message -->

                  </div><!-- /.commentbody -->
                </li><!-- /.comment -->

                <% end %>

            <div class="comment-form-wrapper">
              <h2>Comment</h2>
              <form id="commentform" class="forms" action="/posts/<%= @post.id %>/comments" method="POST">
                <div class="row">
                  <div class="col-sm-12">
                    <textarea name="comment[body]" class="form-control" placeholder="Enter your comment ..."></textarea>
                  </div><!-- /.col -->
                </div><!-- /.row -->

                <button type="submit" class="btn btn-default btn-submit">덧글 작성</button>

              </form>

              <div id="response"></div>
            </div><!-- /.comment-form-wrapper -->

          </div><!-- /.sidemeta -->
        </div><!-- /.col -->

        <aside class="col-md-3 col-md-pull-9">
          <div class="sidebox widget">
            <!-- ============================================================= SIDE NAVIGATION ============================================================= -->

            <ul class="sidenav">
              <%= render :partial => "sidenav" %>
            </ul><!-- /.sidenav -->

            <!-- ============================================================= SIDE NAVIGATION : END ============================================================= -->

          </div>

        </aside>

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – BLOG POST : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
