
<div class="col-lg-3 col-sm-6">
	<div class="plan">
		<header>

			<%= render :partial => "borrowablestuffs/admin/destroy_button" %>


			<div class="price">
				<span class="amount"><%=@borrowablestuff.stufftype%></span>
			</div><!-- /.price -->
			<h2><%=@borrowablestuff.stuffcode%></h2>
			<% if @borrowablestuff.image? %>
			<div class="thumb">
				<figure class="icon-overlay">
					<img src=@borrowalbestuff.image_url alt="">
				</figure>
			</div><!-- /.thumb -->
			<% end %>

			<p><h2><%=@borrowablestuff.description%></h2></p>

		<button type="button" class="btn btn-small btn-gray" data-toggle="modal" href="#modal-contact01">물품 대여하기</button> <!-- 대여 상태 및 해당 유저의 대여 정보에 따라 버튼의 내용이 대여하기/반납하기/대여중(클릭불가)로 --> 
		</header>

	<ul class="features text-small">
		<li><i class="icon-check-1"></i> 대여가능</li> <!-- 대여 가능/불가 -->
		<li><i class="icon-users"></i> 대여자: <%= (@current_lended_user = (User.where(:id => @borrowablestuff.current_lended_user_id)).first) ? (@current_lended_user.name) : ("없음") %>	</li>
		<li><i class="icon-calendar"></i> 최대 대여가능 일수: <%=@borrowablestuff.max_lendingperiod%></li>

	</ul><!-- /.features -->

</div><!-- /.plan -->
</div><!-- /.col -->

<div class="modal fade" id="modal-contact01" tabindex="-1" role="dialog" aria-labelledby="modal-contact01" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-cancel-1"></i></span></button>
				<h4 class="modal-title" id="modal-contact01">물품 대여하기</h4>
			</div><!-- /.modal-header -->

			<!-- ============================================================= MODAL CONTENT ============================================================= -->

			<div class="modal-body">
				<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

				<section id="contact-form">
					<div class="container inner-xs">
						<div class="row">
							<div class="col-xs-12 inner-bottom-xs">
								<form id="" class="forms" action="/borrowablestuffs/<%=@borrowablestuff.id%>/borrow" method="PATCH">
									<div class="row">
										<div class="col-sm-6">
											대여 희망 물품: <%=@borrowablestuff.stufftype%>(<%=@borrowablestuff.stuffcode%>)
										</div><!-- /.col -->
									</div><!-- /.row -->

									<div class="row">
										<div class="col-sm-6">
											<input type="text" name="name" class="form-control" placeholder="희망 대여 일수(ex: 7)">
										</div><!-- /.col -->
									</div><!-- /.row -->
									<div class="row">
									</div><!-- /.row -->

									<button type="submit" class="btn btn-default btn-submit btn-gray">대여하기</button>
								</form>
								<div id="response"></div>
							</div><!-- ./col -->
						</div><!-- /.row -->
					</div><!-- /.container -->
				</section>

				<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
				
			</div><!-- /.modal-body -->

			<!-- ============================================================= MODAL CONTENT : END ============================================================= -->

			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-gray" data-dismiss="modal">Close</button>
			</div><!-- /.modal-footer -->

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




