
<div class="col-lg-3 col-sm-6">
	<div class="plan">
		<header>

			<%= render :partial => "borrowablestuffs/admin/destroy_button" %>

			<div class="price">
				<span class="amount"><%=@borrowablestuff.stufftype%></span>
			</div><!-- /.price -->

			<h2><%=@borrowablestuff.stuffcode%></h2>

			<% if @borrowablestuff.image? %>
			<div class="thumb">
				<figure class="icon-overlay">
					<img src=@borrowalbestuff.image_url alt="">
				</figure>
			</div><!-- /.thumb -->
			<% end %>

			<p><h2><%=@borrowablestuff.description%></h2></p>

		<span class="btn btn-small btn-gray">물품 대여중</span> <!-- 대여 상태 및 해당 유저의 대여 정보에 따라 버튼의 내용이 대여하기/반납하기/대여중(클릭불가)로 --> 
		</header>

	<ul class="features text-small">
		<li><i class="icon-check-1"></i> 대여중</li> <!-- 대여 가능/불가 -->
		<li><i class="icon-users"></i> 대여자: <%= (@current_lended_user = (User.where(:id => @borrowablestuff.current_lended_user_id)).first) ? (@current_lended_user.name) : ("없음") %>
			<% if @user.is_admin? %>
				<div style="text-align:left;"><a href="/borrowablestuffs/<%=@borrowablestuff.id%>/return">반납(관리자)</a></div>
			<% end %> </li>
		<li><i class="icon-calendar"></i> 반납일: <%=@borrowablestuff.dueday%></li>
	</ul><!-- /.features -->

</div><!-- /.plan -->
</div><!-- /.col -->