<!DOCTYPE html>
<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>하나와영</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

        <!-- Icons/Glyphs -->
        <link href="/assets/fonts/fontello.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/images/art/favicon oaz with white.png">

        <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
        <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.js"></script>
        <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
		<%= yield :head %>
</head>

<body>
  <!-- ============================================================= HEADER ============================================================= -->
  <header>
    <div class="navbar">

      <div class="navbar-header">
        <div class="container">

          <ul class="info pull-left">
            <li><b>고려대학교 소프트웨어 전공학회 하나와영</b></li>
            <!--<li><i class="icon-mobile contact"></i> 010 3186 9822 </li>-->
          </ul>
          <!-- /.info -->

          <ul class="info pull-right">
            <% if user_signed_in? %>
              <li><a href="/admin/dashboard">대시보드</a></a></li>
              <li><a href="/users/sign_out" data-method="DELETE">로그아웃</a></a></li>
            <% else %>
              <li><a href="/users/sign_in">로그인</a></li>
              <li><a href="/users/sign_up">회원가입</a></li>
            <% end %>
          </ul>
          <!-- /.social -->

          <!-- ============================================================= LOGO MOBILE ============================================================= -->

          <a class="navbar-brand" href="/pages/index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>

          <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

          <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

        </div>
        <!-- /.container -->
      </div>
      <!-- /.navbar-header -->

      <div class="yamm">
        <div class="navbar-collapse collapse">
          <div class="container">

            <!-- ============================================================= LOGO ============================================================= -->

            <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" class="logo" alt=""></a>

            <!-- ============================================================= LOGO : END ============================================================= -->


            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">About us</a>

                <ul class="dropdown-menu">
                  <li><a href="/pages/about">About OAZ</a></li>
                  <li><a href="/pages/chairman_greeting">Chairman's Greeting</a></li>
                  <li><a href="/timeline">Timeline</a></li>
                </ul>
              </li>

              <li><a href="/pages/recruit" class="scroll-to" data-anchor-offset="0">Recruit</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Members</a>

                <ul class="dropdown-menu">
                  <li><a href="/members">Members</a></li>
                  <li><a href="/alumni">Alumni</a></li>
                  <!-- <li><a href="portfolio2.html">3 Columns Details Grid</a></li> -->

                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Board</a>

                <ul class="dropdown-menu">
                  <% @boards.each do |board| %>
                    <li><a href="/board/<%= board.name %>"><%= board.name %></a></li>
                  <% end %>
                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->


              <!-- ============================================================= MEGA MENU ============================================================= -->

              <li class="dropdown yamm-fullwidth">
                <a href="#" class="dropdown-toggle js-activated">Projects</a>

                <ul class="dropdown-menu yamm-dropdown-menu">
                  <li>
                    <div class="yamm-content row">

                      <div class="col-sm-6 inner">
                        <h4>Focus on</h4>
                        <figure>
                          <div class="icon-overlay icn-link">
                            <a href="/projects/<%= @recent_project.id %>"><img src="<%= @recent_project.image_url %>" alt=""></a>
                          </div>
                          <figcaption>
                            <p><b><%= @recent_project.title %></b></p>
                            <p><%= @recent_project.short_description %></p>
                          </figcaption>
                        </figure>
                      </div>
                      <!-- /.col -->

                      <div class="col-sm-3 inner">
                        <h4>Current Project</h4>

                        <div class="row thumbs gap-xs">
                          <% @current_projects.each do |project| %>
                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/projects/<%= project.id %>"><img src="<%= project.image_url %>" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->
                          <% end %>

                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.col -->


                      <div class="col-sm-3 inner">
                        <h4>Past Works</h4>

                        <ul class="circled">
                          <% @past_projects.each do |project| %>
                          <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
                          <% end %>
                          <a href="/projects" class="btn btn-gray">프로젝트 더 알아보기...</a></a>
                        </ul>
                        <!-- /.circled -->

                      </div>
                      <!-- /.col -->

                      <!--<div class="col-sm-3 inner">-->
                        <!--<h4>Tech Blog</h4>-->
                        <!--<p class="text-normal"></p>-->
                        <!--<ul class="circled">-->
                          <!--<li><a href="/pages/project_post">최근 머신러닝 동향</a></a></li>-->
                          <!--<li><a href="/pages/project_post">리눅스 서버를 다루는 기술</a></li>-->
                          <!--<li><a href="/pages/project_post">우분투 서버 구축하기</a></li>-->
                          <!--<li><a href="/pages/project_post">서버 가상화 기술 연구</a></li>-->
                          <!--<li><a href="/pages/project_post">C#,C++,C 발달과정</a></li>-->
                          <!--<li><a href="/pages/project_post">스포카 서버의 구성</a></li>-->
                          <!--<li><a href="/pages/project_post">액티브 서버 페이지 활용방안</a></li>-->
                          <!--<li><a href="/pages/project_post">액티브 서버 페이지 활용방안</a></li>-->
                        <!--</ul>-->
                        <!--<a href="/projects" class="btn btn-gray">프로젝트 더 알아보기...</a></a>-->
                      <!--</div>-->
                      <!-- /.col -->

                    </div>
                    <!-- /.yamm-content -->
                  </li>
                </ul>
                <!-- /.yamm-dropdown-menu -->
              </li>
              <!-- /.yamm-fullwidth -->

              <!-- ============================================================= MEGA MENU : END ============================================================= -->

              <li><a href="/borrowablestuffs" class="scroll-to" data-anchor-offset="0">Goods Rental</a></li>

              <% if user_signed_in? %>
                  <li><a href="/users/sign_out" data-method="DELETE" class="scroll-to" data-anchor-offset="0">Log Out</a></li>
              <% else %>
                  <li><a href="/users/sign_in" class="scroll-to" data-anchor-offset="0">Log In</a></li>
              <% end %>

              <li class="dropdown pull-right searchbox">
                <a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>

                <div class="dropdown-menu">
                  <form id="search" class="navbar-form search" role="search">
                    <input type="search" class="form-control" placeholder="Type to search">
                    <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                  </form>
                </div>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.searchbox -->

            </ul>
            <!-- /.nav -->

            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.yamm -->
    </div>
    <!-- /.navbar -->
  </header>
  <!-- ============================================================= HEADER : END ============================================================= -->
  <div class="col-md-4 col-md-offset-3">
    <% if alert %>
        <div class="alert alert-danger" role="alert" style="margin-top:20px;"><%= alert %></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert" style="margin-top:20px;"><%= notice %></div>
    <% end %>
  </div>

  <%= yield %>


  <!-- ============================================================= FOOTER ============================================================= -->

  <footer class="dark-bg">
    <div class="container inner">
      <div class="row">

        <div class="col-md-3 col-sm-6 inner">
          <h4>고려대학교 소프트웨어 전공학회</h4>
          <a href="/"><img class="logo img-intext" src="/assets/images/korean_logo_white.png" alt="" style="width:250px; height:80px;"></a>
          <p>저희는 전기전자공학부 소속 소프트웨어 학회로 대회에 출전하고 세미나를 진행하고 있습니다.
          <br>전기전자공학부 소속이 아니시라고요? 저희에게 영감을 불어넣어 줄 타과생들을 환영합니다!</p>
          <a href="/pages/about" class="txt-btn">더 알아보기</a>
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Recent projects</h4>

          <div class="row thumbs gap-xs">

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work02.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work03.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work07.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work01.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

          </div><!-- /.row -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Contact Us</h4>
          <p>함께 배워갈 학회원을 모집하고 있습니다. Recruit 페이지를 클릭하세요!</p>
          <a href="/pages/recruit"><button type="submit" class="btn btn-default btn-small">지원서 쓰러가기</button></a>
          <ul class="contacts">
			  <li><a href="http://dmaps.kr/29ags" target="_blank"><i class="icon-location contact"></i>고려대학교 공학별관 703호</a></li>
            <li><i class="icon-mobile contact"></i> 010-3186-9822 </li>
            <li><a href="#"><i class="icon-mail-1 contact"></i> koreaoaz@gmail.com</a></li>
          </ul><!-- /.contacts -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Newsletter</h4>
          <p>이메일을 적어주시면 정기적으로 하나와영 소식을 보내드립니다.</p>
          <form id="newsletter" class="form-inline newsletter" role="form">
            <label class="sr-only" for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="E_mail">
            <button type="submit" class="btn btn-default btn-submit">구독하기</button>
          </form>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
      <div class="container inner">
        <p class="pull-left">© 2016 하나와영. All rights Reserved.</p>
        <a href="/pages/policy"> 개인정보처리방침</a>
        <ul class="footer-menu pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="about.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul><!-- .footer-menu -->
      </div><!-- .container -->
    </div><!-- .footer-bottom -->
  </footer>

  <!-- ============================================================= FOOTER : END ============================================================= -->

  <!-- JavaScripts placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.easing.1.3.min.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/assets/js/skrollr.min.js"></script>
  <script src="/assets/js/skrollr.stylesheets.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/waypoints-sticky.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.isotope.min.js"></script>
  <script src="/assets/js/jquery.easytabs.min.js"></script>
  <script src="/assets/js/google.maps.api.v3.js"></script>
  <script src="/assets/js/viewport-units-buggyfill.js"></script>
  <script src="/assets/js/scripts.js"></script>

</body>

<script type="text/javascript" charset="utf-8">
  $(".alert").fadeOut(1500, function(){ $(this).remove();});
</script>
</html>
