<!DOCTYPE html>
<html>

<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>하나와영</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

        <!-- Icons/Glyphs -->
        <link href="/assets/fonts/fontello.css" rel="stylesheet">

        <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/images/art/fevicon oaz with white.png">

        <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
        <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.js"></script>
        <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <!-- ============================================================= HEADER ============================================================= -->
  <header>
    <div class="navbar">

      <div class="navbar-header">
        <div class="container">

          <ul class="info pull-left">
            <li><b>고려대학교 소프트웨어 전공학회 하나와영</b></li>
            <!--<li><i class="icon-mobile contact"></i> 010 3186 9822 </li>-->
          </ul>
          <!-- /.info -->

          <ul class="info pull-right">
            <% if user_signed_in? %>
              <li><a href="/admin/dashboard">대시보드</a></a></li>
              <li><a href="/users/sign_out" data-method="DELETE">로그아웃</a></a></li>
            <% else %>
              <li><a href="/users/sign_in">로그인</a></li>
              <li><a href="/users/sign_up">회원가입</a></li>
            <% end %>
          </ul>
          <!-- /.social -->

          <!-- ============================================================= LOGO MOBILE ============================================================= -->

          <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>

          <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

          <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

        </div>
        <!-- /.container -->
      </div>
      <!-- /.navbar-header -->

      <div class="yamm">
        <div class="navbar-collapse collapse">
          <div class="container">

            <!-- ============================================================= LOGO ============================================================= -->

            <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" class="logo" alt=""></a>

            <!-- ============================================================= LOGO : END ============================================================= -->


            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

            <ul class="nav navbar-nav">
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">About us</a>

                <ul class="dropdown-menu">
                  <li><a href="/pages/about">About OAZ</a></li>
                  <li><a href="/pages/chairman_greeting">Chairman's Greeting</a></li>
                  <li><a href="/timeline/show">Timeline</a></li>
                </ul> 
              </li>
              
              <li class="dropdown">
                <a href="/pages/recruit" class="dropdown-toggle">Recruit</a>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Members</a>

                <ul class="dropdown-menu">
                  <li><a href="/members">Members</a></li>
                  <li><a href="/alumni">Alumni</a></li>
                  <!-- <li><a href="portfolio2.html">3 Columns Details Grid</a></li> -->

                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Board</a>

                <ul class="dropdown-menu">
                  <li><a href="/board/tech-blog">Tech blog</a></li>
                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->


              <!-- ============================================================= MEGA MENU ============================================================= -->

              <li class="dropdown yamm-fullwidth">
                <a href="#" class="dropdown-toggle js-activated">Projects</a>

                <ul class="dropdown-menu yamm-dropdown-menu">
                  <li>
                    <div class="yamm-content row">

                      <div class="col-sm-3 inner">
                        <h4>Focus on</h4>
                        <figure>
                          <div class="icon-overlay icn-link">
                            <a href="/pages/project_post"><img src="/assets/images/art/work01.jpg" alt=""></a>
                          </div>
                          <figcaption>
                            <p>Git, Javascript, CSS, Html... 이런 거 처음 들어본 사람?? 하나와영 웹 팀의 프론트 엔드는 그런 상태에서 시작했다고 합니다. </p>
                            
                          </figcaption>
                        </figure>
                      </div>
                      <!-- /.col -->

                      <div class="col-sm-3 inner">
                        <h4>Current Project</h4>

                        <div class="row thumbs gap-xs">

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work02.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work03.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work04.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work05.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work06.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                          <div class="col-xs-6 thumb">
                            <figure class="icon-overlay icn-link">
                              <a href="/pages/project_post"><img src="/assets/images/art/work07.jpg" alt=""></a>
                            </figure>
                          </div>
                          <!-- /.thumb -->

                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.col -->
                      

                      <div class="col-sm-3 inner">
                        <h4>Past Works</h4>

                        <ul class="circled">
                          <li><a href="/pages/project_post">학회 Web 리뉴얼</a></a></li>
                          <li><a href="/pages/project_post">알판사</a></li>
                          <li><a href="/pages/project_post">강의 녹음 / 텍스트화 어플리케이션</a></li>
                          <li><a href="/pages/project_post">하나와영 그래픽스_2D 표정인식</a></li>
                          <li><a href="/pages/project_post">게임 녹화 프로그램</a></li>
                          <li><a href="/pages/project_post">포켓몬 고!</a></li>
                          <li><a href="/pages/project_post">쩌는 어플리케이션</a></li>
                          <li><a href="/pages/project_post">말로만 듣던 바로 그 앱</a></li>
                          <li><a href="/pages/project_post">어쌔신 크리드 10</a></li>
                          <li><a href="/pages/project_post">다크 소울 10</a></li>
                        </ul>
                        <!-- /.circled -->
                      
                      </div>
                      <!-- /.col -->

                      <div class="col-sm-3 inner">
                        <h4>Tech Blog</h4>
                        <p class="text-normal"></p>
                        <ul class="circled">
                          <li><a href="/pages/project_post">최근 머신러닝 동향</a></a></li>
                          <li><a href="/pages/project_post">리눅스 서버를 다루는 기술</a></li>
                          <li><a href="/pages/project_post">우분투 서버 구축하기</a></li>
                          <li><a href="/pages/project_post">서버 가상화 기술 연구</a></li>
                          <li><a href="/pages/project_post">C#,C++,C 발달과정</a></li>
                          <li><a href="/pages/project_post">스포카 서버의 구성</a></li>
                          <li><a href="/pages/project_post">액티브 서버 페이지 활용방안</a></li>
                          <li><a href="/pages/project_post">액티브 서버 페이지 활용방안</a></li>
                        </ul>
                        <a href="/pages/project/" class="btn btn-gray">프로젝트 더 알아보기...</a></a>
                      </div>
                      <!-- /.col -->
                                    
                    </div>
                    <!-- /.yamm-content -->
                  </li>
                </ul>
                <!-- /.yamm-dropdown-menu -->
              </li>
              <!-- /.yamm-fullwidth -->

              <!-- ============================================================= MEGA MENU : END ============================================================= -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle js-activated">Users</a>

                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li><a href="/users/sign_out" data-method="DELETE">Sign Out</a></li>
                  <% else %>
                    <li><a href="/users/sign_in">Sign In</a></li>
                    <li><a href="/users/sign_up">Sign Up</a></li>
                  <% end %>
                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->


              <li class="dropdown pull-right searchbox">
                <a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>

                <div class="dropdown-menu">
                  <form id="search" class="navbar-form search" role="search">
                    <input type="search" class="form-control" placeholder="Type to search">
                    <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                  </form>
                </div>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.searchbox -->

            </ul>
            <!-- /.nav -->

            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.yamm -->
    </div>
    <!-- /.navbar -->
  </header>
  <!-- ============================================================= HEADER : END ============================================================= -->
  <div class="col-md-4 col-md-offset-3">
    <% if alert %>
        <div class="alert alert-danger" role="alert" style="margin-top:20px;"><%= alert %></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert" style="margin-top:20px;"><%= notice %></div>
    <% end %>
  </div>

  <%= yield %>


  <!-- ============================================================= FOOTER ============================================================= -->

  <footer class="dark-bg">
    <div class="container inner">
      <div class="row">

        <div class="col-md-3 col-sm-6 inner">
          <h4>고려대학교 소프트웨어 전공학회</h4>
          <a href="/"><img class="logo img-intext" src="/assets/images/korean_logo_white.png" alt="" style="width:250px; height:80px;"></a>
          <p>저희는 전기전자공학부 소속 소프트웨어 학회로 대회에 출전하고 세미나를 진행하고 있습니다.
          <br>전기전자공학부 소속이 아니시라고요? 저희에게 영감을 불어넣어 줄 타과생들을 환영합니다! 저희 학회에 대해 더 알고 싶으시다면 클릭!</p>
          <a href="/pages/about" class="txt-btn">더 알아보기</a>
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Recent projects</h4>

          <div class="row thumbs gap-xs">

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work02.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work03.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work07.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

            <div class="col-xs-6 thumb">
              <figure class="icon-overlay icn-link">
                <a href="/pages/project_post"><img src="/assets/images/art/work01.jpg" alt=""></a>
              </figure>
            </div><!-- /.thumb -->

          </div><!-- /.row -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Contact Us</h4>
          <p>함께 배워갈 학회원을 모집하고 있습니다. Recruit 페이지를 클릭하세요!</p>
          <ul class="contacts">
			  <li><a href="http://dmaps.kr/29ags" target="_blank"><i class="icon-location contact"></i>고려대학교 공학별관 703호</a></li>
            <li><i class="icon-mobile contact"></i> 010-3186-9822 </li>
            <li><a href="#"><i class="icon-mail-1 contact"></i> koreaoaz@gmail.com</a></li>
          </ul><!-- /.contacts -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 inner">
          <h4>Newsletter</h4>
          <p>이메일을 적어주시면 정기적으로 하나와영 소식을 보내드립니다.</p>
          <form id="newsletter" class="form-inline newsletter" role="form">
            <label class="sr-only" for="exampleInputEmail">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="E_mail">
            <button type="submit" class="btn btn-default btn-submit">구독하기</button>
          </form>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- .container -->

    <div class="footer-bottom">
      <div class="container inner">
        <p class="pull-left">© 2016 하나와영. All rights Reserved.</p>
        <ul class="footer-menu pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="about.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul><!-- .footer-menu -->
      </div><!-- .container -->
    </div><!-- .footer-bottom -->
  </footer>

  <!-- ============================================================= FOOTER : END ============================================================= -->

  <!-- JavaScripts placed at the end of the document so the pages load faster -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.easing.1.3.min.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/assets/js/skrollr.min.js"></script>
  <script src="/assets/js/skrollr.stylesheets.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/waypoints-sticky.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.isotope.min.js"></script>
  <script src="/assets/js/jquery.easytabs.min.js"></script>
  <script src="/assets/js/google.maps.api.v3.js"></script>
  <script src="/assets/js/viewport-units-buggyfill.js"></script>
  <script src="/assets/js/scripts.js"></script>

</body>

<script type="text/javascript" charset="utf-8">
  $(".alert").fadeOut(1000, function(){ $(this).remove();});
</script>
</html>

