		
		<!-- ============================================================= MAIN ============================================================= -->
		
		<main>
			
			<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->
			
			<section>
				<div class="container inner">
					<div class="row">				
						<section class="content-header">
						    <h1>
						      Members
						      <small>멤버생성</small>
						    </h1>
						    <ol class="breadcrumb">
						      <li><i class="fa fa-dashboard"></i>Admin</li>
						      <li class="active">Users</li>
						    </ol>
						</section>
						
				        <ul class="filter text-center">
				            <!-- 경계 위아래 구분선 -->
				        </ul><!-- /.filter -->
				  </div>

							<div class="row">
								<div class="col-md-4 col-md-offset-3">

    <% if alert %>
        <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <% if notice %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>
	
	
	<%= form_for @member do |f| %>
										
										<div class="row">
											<div class="col-sm-12">
												<%= f.text_field :name, class: "form-control", placeholder: "이름" %>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<%= f.text_field :occupation, class: "form-control", placeholder: "직책(ex:운영진)" %>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<%= f.email_field :email, class: "form-control", placeholder: "E-mail" %>
											</div><!-- /.col -->
										</div><!-- /.row -->

										<div class="row">
											<div class="col-sm-12">
												<%= f.text_field :occupation, class: "form-control", placeholder: "가입 학기(ex:xxxx년 봄/가을학기" %> <!-- 수정요망 -->
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<%= f.text_field :occupation, class: "form-control", placeholder: "기수(ex:7기)" %> <!-- 수정요망 -->
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<p class="text-small">Alumni입니까? (checked: yes)</p>
												<%= f.check_box :is_alumni %>
											</div><!-- /.col -->
										</div><!-- /.row -->


												<%= f.submit "멤버 만들기", class: "btn" %>
			
										
	<% end %>
									
								</div><!-- ./col -->
							</div><!-- ./row -->

								

					
					<div class="row">
				        <ul class="filter text-center">
				            <!-- 경계 위아래 구분선 -->
				        </ul><!-- /.filter -->
				        

  <!-- To the right -->
  <div class="pull-right hidden-xs">
    개발 넘나 힘든것
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016 <a href="#">oneandzero</a>.</strong> All rights reserved.

						
					</div>
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->
			
		</main>
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		