<main>
  <section id="portfolio-post">
    <div class="container inner-top-md">
      <div class="row">

        <div class="col-md-8">
          <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">

            <div class="item">
              <figure>
                <img src="<%= @member.attachment.file.url %>" alt="" style="height:700px; object-fit:cover;">
              </figure>
            </div><!-- /.item -->

          </div><!-- /.owl-carousel -->
        </div><!-- /.col -->


        <div class="col-md-4 inner-left-sm">
          <header>
            <h2>하나와영 Member</h2>
            <ul class="item-details inner-top-xs outer-top-xs border-top">
            </ul><!-- /.item-details -->
            <h3><%= @member.name %></h3>
            <ul class="item-details inner-top-xs outer-top-xs border-top">
              <li class="categories">직책: <%= @member.occupation %></li>
              <li class="date">가입: 2014년 봄학기</li>
              <li class="client">기수: 7기</li>
              <li class="url">Email: <%= @member.email %></li>
              <li class="client">소개: <%= @member.description %></li>
            </ul><!-- /.item-details -->
          </header>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section id="more-works">
    <div class="container inner-top-sm inner-bottom">

    </div><!-- /.container -->
  </section>
</main>
